
  /* Primary Colors */
  $primary-color-Soft-red: hsl(7, 99%, 70%);
  $primary-color-Yellow: hsl(51, 100%, 49%);
              /*graphic design text*/
  $primary-color-Dark-desaturated-cyan: hsl(167, 40%, 24%);
              /*Photography Text */
  $primary-color-Dark-blue: hsl(198, 62%, 26%);
              /*footer*/
  $primary-Dark-moderate-cyan: hsl(168, 34%, 41%);

  /* Secondary Colors */
  $secondary-color-Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  $secondary-color-Very-dark-grayish-blue: hsl(213, 9%, 39%);
  $secondary-color-Dark-grayish-blue: hsl(232, 10%, 55%);
  $secondary-color-Grayish-blue: hsl(210, 4%, 67%);
  $secondary-color-White: hsl(0, 0%, 100%);
